@import "../variables";

.menu {
  display: flex;
  margin: 0;
  width: 100px;
  height: 100vh;

  position: sticky;
  top: 0;
  order: 3;
  flex-direction: column;
  justify-content: flex-end;

  background-color: $color-menu-bg;
  color: $color-menu-text;

  &--open {
    width: 400px;

    & .menu {
      &__wrapper {
        display: block;
      }

      &__btn {
        padding: 27px 35px 27px 60px;
        text-align: left;

        &:hover {
          &::before {
            transform: translate(0, 50%) rotate(180deg);
          }
        }

        &::before {
          bottom: 50%;
          transform: translate(0, 50%);
          left: 35px;
          background-image: url(../../../public/img/icon-closed-white.svg);
          transition: transform 200ms ease-out 100ms;
        }
      }

      &__btn-text {
        transform: rotate(0deg);
      }
    }
  }

  &__wrapper {
    display: none;
  }

  &__btn {
    margin: 0;
    padding: 72px 37px 72px 37px;
    position: relative;
    bottom: 0;
    background-color: #0a2246;
    color: $color-menu-text;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 16px;

      bottom: 38px;
      left: 50%;
      transform: translateX(-50%);

      background-image: url("../../../public/img/icon-menu.svg");
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__btn-text {
    // margin: 48px 37px;
    // padding: 0;
    // padding-right: 34px;
    display: block;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    transform: rotate(-90deg);
  }
}
