$color-white: #ffffff;
$color-text: #080b0e;
$color-name-blog: #0A3465;
$color-text-second: #898c90;
$color-text-minor: #c1c1c1;
$color-accent: #13315e;
$color-menu-bg: $color-accent;
$color-menu-text: $color-white;
$color-prompt-text: $color-white;
$color-prompt-bg: #2D2D2D;
$color-btn: #F9F9F9;
