@import './components/variables';

*,*:after ,*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: $color-text;
  /* font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Nunito', sans-serif; */
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main {
  // max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 1fr auto;
  grid-template-areas: "mainLeft mainRight menu";

  &__left {
    position: relative;
    grid-area: mainLeft;
    // padding: 60px;
  }

  &__right {
    grid-area: mainRight;
    border-left: solid 1px #f9f9f9;
  }
}
